[Desktop Entry]
Version=1.0
Name=Matrix Code Rain
Comment=A retro matrix code rain simulation
Exec=matrixrain
Icon=/usr/share/icons/matrixrain.png
Terminal=true
Type=Application
Categories=Utility;Game;

